html {
  background-color: #222222;
}

body {
  background-color: #222222;
  height: 100vh;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 600px;
  max-height: 100%;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.title {
  color: #fff870 !important;
  font-size: 1.9rem !important;
  letter-spacing: 2px;
  text-shadow: -2px 0 black, 0 4px black, 5px 0 black, 0 -2px black !important;
}
del {
  color: #dad135 !important;
  font-size: 1rem !important;
}
.subtitle {
  text-decoration: underline;
  color: #d27d2c !important;
  font-size: 1.1rem !important;
  text-shadow: -2px 0 black, 0 2px black, 4px 0 black, 0 -2px black !important;
}
.subsub-title {
  color: #dad45e !important;
  font-size: 1rem !important;
  text-shadow: -2px 0 black, 0 2px black, 4px 0 black, 0 -2px black !important;
}

.avatar {
  margin: 0 auto;
  text-align: center;
}

.avatar-img:hover,
.avatar-img:active {
  content: url("../img/avatar-gif.gif");
  margin: 0 auto;
  text-align: center;
  max-width: 424px;
  width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.perfil,
.experiencia,
.educacion,
.idiomas,
.hr,
.aprendiendo,
.tecnologias,
.proyectos {
  margin-bottom: 1rem;
}

.rpgui-container {
  position: relative;
}

.tecnologia {
  text-align: center;
}

.redes {
  text-align: center;
}

footer {
  text-align: center;
}

.boton {
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.perfil-txt::first-letter {
  text-align: center;
  font-size: 200%;
  color: #fff870;
  background-color: #d27d2c;
  border: 2px solid #000;
  padding: 4px;
  margin: 4px;
}

.perfil-txt {
  line-height: 1.9 !important;
}

.proyecto {
  margin-bottom: 1rem;
  border: 2px solid #000;

  img {
    width: 100%;
    height: auto;
  }
}

.rpgui-icon {
  width: 75px;
  height: 75px;
  color: #fff;
  word-wrap: break-word;
  font-size: 0.6rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.tecnologias {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  text-align: center;
}

.tec {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.proyecto-container {
  position: relative;
  overflow: hidden;
  border: 2px solid #000;
  margin: 0.5rem;
}

.proyecto-container img {
  width: 100%;
  transition: all 0.5s;
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all 0.5s;
  background-color: #000;
  transform: translateX(-100%);
}

.caption h1 {
  text-transform: uppercase;
  margin: 0;
}

.caption p {
  font-size: 18px;
  text-transform: capitalize;
}

.proyecto-container:hover,
.proyecto-container:active {
  .caption {
    transform: translateX(0);
  }
}

.proyecto-container:hover,
.proyecto-container:active {
  img {
    transform: translateX(100%);
  }
}

.rpgui-dropdown-imp {
  ul {
    height: 200px !important;
  }
}

.mas-info {
  color: #ffff00;

  li {
    line-height: 2;
  }

  &__titulo {
    text-decoration: underline;
  }
}

.nes-list {
  margin-left: 1rem;
}

#react-bar {
  .rpgui-progress-fill.blue {
    width: 30% !important;
  }
}
#vue-bar {
  .rpgui-progress-fill.green {
    width: 25% !important;
  }
}
#node-bar {
  .rpgui-progress-fill {
    width: 40% !important;
  }
}
#mongo-bar {
  .rpgui-progress-fill {
    width: 45% !important;
  }
}
#api-bar {
  .rpgui-progress-fill {
    width: 70% !important;
  }
}
#cypress-bar {
  .rpgui-progress-fill {
    width: 35% !important;
  }
}

.experiencia,
.educacion {
  p {
    margin-bottom: 0rem;
  }
}
