html {
  background-color: #222222;
}

body {
  background-color: #222222;
  height: 100vh;
  width: 100%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 550px;
  max-height: 100%;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.title {
  color: #fff870 !important;
  font-size: 1.9rem !important;
  letter-spacing: 2px;
  text-shadow: -2px 0 black, 0 4px black, 5px 0 black, 0 -2px black !important;
}

del {
  color: #dad135 !important;
  font-size: 1rem !important;
}

.subtitle {
  text-decoration: underline;
  color: #d27d2c !important;
  font-size: 1.1rem !important;
  text-shadow: -2px 0 black, 0 2px black, 4px 0 black, 0 -2px black !important;
}

.subsub-title {
  color: #dad45e !important;
  font-size: 1rem !important;
  text-shadow: -2px 0 black, 0 2px black, 4px 0 black, 0 -2px black !important;
}

.avatar {
  margin: 0 auto;
}

.avatar-img:hover,
.avatar-img:active {
  content: url("../img/avatar-gif.gif");
  max-width: 424px;
  width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.perfil,
.experiencia,
.educacion,
.idiomas,
.hr,
.aprendiendo,
.tecnologias,
.proyectos {
  margin-bottom: 1rem;
}

.rpgui-container {
  position: relative;
}

.tecnologia {
  text-align: center;
}

.redes {
  text-align: center;
}

footer {
  text-align: center;
}

.boton {
  text-align: center;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.perfil-txt::first-letter {
  text-align: center;
  font-size: 200%;
  color: #fff870;
  background-color: #d27d2c;
  border: 2px solid #000;
  padding: 4px;
  margin: 4px;
}

.perfil-txt {
  line-height: 1.9 !important;
}

.proyecto {
  margin-bottom: 1rem;
  border: 2px solid #000;
}

.proyecto img {
  width: 100%;
  height: auto;
}

.rpgui-icon {
  width: 75px;
  height: 75px;
  color: #fff;
  word-wrap: break-word;
  font-size: 0.6rem;
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tecnologias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-align: center;
}

.tec {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.proyecto-container {
  position: relative;
  overflow: hidden;
  border: 2px solid #000;
  margin: 0.5rem;
}

.proyecto-container img {
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #000;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.caption h1 {
  text-transform: uppercase;
  margin: 0;
}

.caption p {
  font-size: 18px;
  text-transform: capitalize;
}

.proyecto-container:hover .caption {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.proyecto-container:hover img {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.rpgui-dropdown-imp ul {
  height: 200px !important;
}

.mas-info {
  color: #ffff00;
}

.mas-info li {
  line-height: 2;
}

.mas-info__titulo {
  text-decoration: underline;
}

.nes-list {
  margin-left: 1rem;
}

#react-bar .rpgui-progress-fill.blue {
  width: 30% !important;
}

#vue-bar .rpgui-progress-fill.green {
  width: 30% !important;
}

#node-bar .rpgui-progress-fill {
  width: 40% !important;
}

#mongo-bar .rpgui-progress-fill {
  width: 45% !important;
}

#api-bar .rpgui-progress-fill {
  width: 70% !important;
}

#cypress-bar .rpgui-progress-fill {
  width: 40% !important;
}

.experiencia p,
.educacion p {
  margin-bottom: 0rem;
}
